.debug {
  background-color: red;
  /*height: 700px;*/
}

.debug-2{
  background-color: yellow;
  /*height: 700px;*/
}

.debug-3{
  /*background-color: black;*/
  /*height: 700px;*/
}


.temp-bg{
  background: url('../assets/bg.jpg') no-repeat;
  width: 1024px;
  height: 768px;
  position: fixed;

}
/*.canvas-wrapper{
  margin-top: 2%;
}*/
