#viewport {
  position:relative;
}
#viewport canvas {
  position:absolute;
}
canvas {
/**
* Set transparent to let any other canvases render through
*/
  background-color: transparent;
}
.debug {
  background-color: red;
  /*height: 700px;*/
}

.debug-2{
  background-color: yellow;
  /*height: 700px;*/
}

.debug-3{
  /*background-color: black;*/
  /*height: 700px;*/
}


.temp-bg{
  background: url('../assets/diagram-1.jpg') no-repeat;
  width: 1024px;
  height: 768px;
  position: absolute;
  z-index: -100;

}
